@media (min-width: 1024px) {
  .main {
    --panel-gap: 3.5rem;
  }

  .main[data-mode="login"] .intro {
    transform: translateX(calc(100% + var(--panel-gap)));
  }

  .main[data-mode="login"] .form {
    transform: translateX(calc(-100% - var(--panel-gap)));
  }
}

@media (min-width: 1280px) {
  .main {
    --panel-gap: 5rem;
  }
}
